html, body {
	font-size: 12px;
}

.sidebar {
	min-width: 175px;
	max-width: 250px;
}

.qpage {
	min-height: 100%;
}

.color-red {
	color: red;
}
.color-orange {
	color: orange;
}
.color-green {
	color: green;
}

.text-vertical {
	writing-mode: vertical-rl;
	writing-mode: sideways-lr;
}

.depSelf {
	text-decoration: underline overline blue;
}
.depParent {
	text-decoration: underline overline orange;
}

.columns {
	columns: 3;
}

.bg-lightblue {
	background-color: #cadaff;
}

.float-right {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 0.5rem;
}

@media (max-width: 767px) {
	.columns {
		columns: 2;
	}
}

@media (max-width: 500px) {
	.columns {
		columns: 1;
	}
}
