html, body {
	font-size: 12px;
}

#logo img {
	width: 240px;
	height: 40px;
}

a {
	text-decoration: none;
}

.sidebar {
	min-width: 175px;
	max-width: 250px;
}

tr:target, td:target, th:target, tr:target td, tr:target th {
	background-color: #ffa;
}

.btn-white-success {
	background-color: #fff;
}
.btn-white-success:hover {
	background-color: var(--bs-success);
}

.qpage {
	min-height: 100%;
}

.color-red {
	color: red;
}
.color-orange {
	color: orange;
}
.color-green {
	color: green;
}

.text-vertical {
	writing-mode: vertical-rl;
	writing-mode: sideways-lr;
}

.depSelf {
	text-decoration: underline overline #6495ed;
}
.depParent {
	text-decoration: underline overline #ff8c00;
}
.depHead {
	color: #6495ed;
}
.depSibling {
	color: #ff8c00;
}

.columns {
	columns: 3;
}

.bg-lightblue {
	background-color: #ddeeff;
}

.float-right {
	position: absolute;
	right: 0;
	padding: 0 0.5rem;
}

.avoid-break {
	break-inside: avoid;
}

@media (max-width: 767px) {
	.columns {
		columns: 2;
	}
}

@media (max-width: 500px) {
	.columns {
		columns: 1;
	}
}
